.Grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
@media only screen and (max-width: 560px) {
    .Grid{
        grid-template-columns: repeat(1, 1fr);
    }
}