.HexagonBackground{
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;

    .hexagon-base{
        background: url(./assets/hexagon-base.png);
        

        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translate(-50%, -50%);
        
    }
    .hexagon-base-glow{
        position: absolute;
        width: 125%;
        height: 125%;
        top: 50%;
        left: 50%;
        background: url(./assets/hexagon-base-glow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        
    }
    .hexagon-base-glow-1{
        transform: translate(-50%, -50%);
        animation-name: _hexagon-base-glow-1;
    }
    @keyframes _hexagon-base-glow-1{
        0% { opacity: 0; }
        25% {width: 130%;
            height: 130%;}
        50% { opacity: 1; }
        75% {width: 115%;
            height: 115%;}
        100% { opacity: 0; }
    }
    .hexagon-base-glow-2{
        transform: translate(-50%, -50%) rotate(180deg);
        animation-name: _hexagon-base-glow-2;
    }
    @keyframes _hexagon-base-glow-2{
        0% { opacity: 1; }
        25% {width: 115%;
            height: 115%;}
        50% { opacity: 0; }
        75% {width: 130%;
            height: 130%;}
        100% { opacity: 1; }
    }
}