#Footer{
    background: url(./assets/background.jpg);
    background-size: cover;
    padding-top: 60px;

    .columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media only screen and (max-width: 620px) {
            grid-template-columns: repeat(1, 1fr);
            ;
        }
        .column{
            margin-bottom: 40px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        .logo{
            margin-bottom: 20px;

            .Image{
                img{
                    width: 100%;
                    max-width: 350px;
                    height: auto;
                }
            }
        }
        
        .SectionsLinks{

            ul{
                align-items: flex-end;
                
                @media only screen and (max-width: 620px) {
                    align-items: center;
                }
            }
            

        }
    }
    .disclaimer{
        color: rgba(white,0.6);
        font-size: 12px;
        text-align: center;
        border-top: 1px solid rgba(white,0.1);
        padding-top:40px;
    }
    .legal{
        background: rgba(black, .8);
        text-align: center;
        padding: 15px;
        margin-top: 40px;
        font-size: 13px;
        color: #888;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 320px) {
            font-size: 10px;
        }

        ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;
            
            li{
                margin-right: 10px;
                @media only screen and (max-width: 370px) {
                    width: 40%;
                    margin-bottom: 10px;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}