@import 'constants.scss';

#Constellation{
    min-height: 300px;
    background: url(./assets/background.png);

    padding: 60px 0;
    box-sizing: border-box;
    text-align: center;
    
    header{
        margin-bottom: 30px;

        .Subtitle{
            text-align: center;
        }
    }
    
    .Slider{
        width: 100%;
        height: 300px;
        padding: 20px 0;
        background: rgba(0,0,0,.2);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        position: relative;
        
        .main {
            height:100%;
            min-height: 100px;
            max-width: 800px;
            position: relative;
            margin: 0 auto;
            
            .Slides{
                position: relative;
                width: 100%;
                height:100%;

                .Slide{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: $SliderSlidesTransition;
                    display: flex;
                    pointer-events: none;

                    &.active, &.leftInactive, &.leftDisplace, &.rightInactive, &.rightDisplace{
                        display: flex;
                    }
                    &.leftDisplace{
                        left: -10%; opacity:0;
                    }
                    &.leftInactive{
                        left: 17%; opacity:.0;
                    }
                    &.active{
                        left:50%;
                        pointer-events: all;
                    }
                    &.rightInactive{
                        left: 83%; opacity:.0;
                    }
                    &.rightDisplace{
                        left: 130%; opacity:0;
                    }

                    .image{
                        width: 40%;
                        height: 100%;
                        position: relative;
                        margin-right: 5%;

                        .Image{
                            position: absolute;
                            width: 120%;
                            height: 120%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;

                            & img{
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                    .data{
                        width: 55%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .title{
                            font-weight: bold;
                            font-size: 26px;
                        }
                    }
                }
            }
        }

        .Controls{
            width: 100%;
            max-width: 1200px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            display: flex;
            justify-content: space-between;
            padding:0 20px;
            box-sizing: border-box;
            pointer-events:none;

            button{
                background: none;
                border: none;
                pointer-events: all;

                & .Image img{
                    width: 20px;
                }
                &.right{
                    .Image img{
                        transform:rotate(180deg)
                    }
                }
            }
        }
    }
    @media screen and (max-width:920px) {
        .Slider{
            height: 250px;

            .main {
                max-width: 700px;
            }
        }
    }

    @media screen and (max-width:820px) {
        .Slider{
            height: 200px;
            
            .main {
                max-width: 700px;
            }
        }
    }

    @media screen and (max-width:768px) {
        .Slider{
            height: 450px;

            .Slide{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;

                .image{ 
                    width: 100%;
                    height:auto;
                    margin-right: 0 !important;
                }

                .data{
                    height:auto !important;
                    display: block !important;
                }
            }
        }

    }

}