#Uses{
    background: url(./assets/background.jpg);
    padding: 120px 0;

    .columns{
        display: flex;

        .column{

            &:first-child{
                margin-right: 120px;
            }

            .images{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: flex-start;

                    margin: 0;
                    padding:0;

                    li{
                        margin-right: 20px;
                        &:last-child{
                            margin: 0;
                        }
                        img{
                            width: 100px;
                            height: auto;
                        }
                    }
                }
            }

            &:nth-child(1){
                width: 35%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &:nth-child(2){
                width: 65%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .Use{
                text-align: right;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
        
                .icon{
        
                    img{
        
                        width: 105px;
                        height: auto;
                    }
                }
                .title{
                    font-weight: bold;
                    color: cyan;
                    font-size: 20px;
                }
            }
        }
    }
    @media only screen and (max-width: 860px) {
        .columns{
            flex-direction: column;
            .column{
                width: 100% !important;
                text-align: center;
                &:first-child{
                    margin-bottom: 40px;
                }
                .images{
                    ul{
                        justify-content: center;
                    }
                }

                header{
                    .Title{
                        align-items: center;
                    }
                    .Subtitle{
                        margin-bottom: 20px;
                    }
                }
                .Use{
                    text-align: center;
                }
            }
        }
    }

}