@import 'constants.scss';

.ButtonWithIcon{
    display: flex;
    background-repeat: repeat-x;
    cursor: pointer;

    &:before{
        content: "";
        background: url(./assets/side.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        width: 14px;   
    }

    .body{
        background: url(./assets/body.png);
        background-size: contain;
        background-repeat: repeat-x;
        white-space: nowrap;
        padding: 12px;
        padding-right: 22px;
        text-transform: uppercase;
    }
    .icon{
        background: url(./assets/icon-background.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 25px;
        margin: -13px;
        transform-origin: center;
        transition: $buttonsTransition;
    }
    &:hover > body{
        text-shadow: 0px 0px 5px rgba($magenta, .7);
    }
    &:hover > .icon{
        transform: scale(1.1);
    }
}