@import 'constants.scss';

#TopFeatures{
    background: url(./assets/background.jpg);

    .Slider{
        display: flex;
        overflow: hidden;
        height: 100vh;
        min-height: 560px;
        max-height: 750px;
        @media only screen and (max-width: 540px) {
            flex-direction: column-reverse;
            height: auto;
        }

        .Slides{
            width: 75%;
            position: relative;
            overflow: hidden;
            @media only screen and (max-width: 768px) {
                width: calc(100% / 3 * 2);
            }
            @media only screen and (max-width: 540px) {
                width: 100%;
                min-height: 500px;
            }


            .SliderMobileControl{
                display: none;
            }
            @media only screen and (max-width: 540px) {
                .SliderMobileControl{
                    display: flex;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    padding: 0 5%;
                    box-sizing: border-box;
                    transform: translateY(-50%);
                }
            }

            .Slide{
                width: calc(100% / 3);
                border: 1px solid rgba(#AAA, .1);
                border-bottom: none;
                border-top: none;
                box-sizing: border-box;
                transition: $SliderSlidesTransition;
                position: absolute;
                height: 100%;
                display: none;
                

                &.active, &.leftInactive, &.leftDisplace, &.rightInactive, &.rightDisplace{
                    display: block;
                }
                &.leftDisplace{
                    left: calc( (100% / 3) * -1 ); opacity:0;
                }
                &.leftInactive{
                    left: 0%;
                    opacity:.3;
                }
                &.active{
                    left: calc(100% / 3);
                    background: rgba(246, 215, 242,.05);
                    box-shadow: 0px 0px 55px rgba(blue, .1);

                    & .Number{
                        top: 10%;
                        transform: translate(-50%, -50%) scale(1);
                        opacity: 1;

                        &:before{
                            content: '';
                            position: absolute;
                            height: 40px;
                            width: 2px;
                            background: rgba(255, 255, 255, 0.5);
                            left: 50%;
                            bottom: 21px;
                            transform: translate(-50%, -50%);
                            transition: all 0.4s ease-in-out;
                        }
                    }
                    .Image{
                        position: absolute;
                        transform-origin: center;
                        left: 50%;
                        top: 42%;
                        transform: translate(-50%, -50%);
                    }
                    .Texts{
                        text-align: center;
                        padding: 0px 20px;
                        position: absolute;
                        bottom: 10%;
    
                        .title{
                            font-size: 25px;
                            font-weight: bold;
                            margin-bottom: 15px;
                        }
                        
                        .description{
                            font-size: 16px;
                            height: 50px;
                            transform: scale(1);
                        }
                        
                    }
                    @media only screen and (max-width: 980px) {
                        .Texts{
                            bottom: 4%;

                            .title{
                                font-size: 18px;
                                margin-bottom: 5px;
                            }
                            .description{
                                font-size: 13px;
                            }
                        }
                    }
                }
                &.rightInactive{
                    left: calc( (100% / 3) * 2 );
                    opacity:.3;
                }
                &.rightDisplace{
                    left: 100%; opacity:0;
                }
                

                .Number{
                    background: url(./assets/Slider/number-background.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    padding: 12px 20px;
                    left: 50%;
                    top: 6%;
                    transform: translate(-50%, -50%) scale(.6);
                    opacity: .4;
                    transition: $SliderSlidesTransition;
                    z-index: 1;

                    &:before{
                        content: '';
                        position: absolute;
                        height: 0px;
                        width: 2px;
                        background: rgba(white, .5);
                        left: 50%;
                        bottom: 100%;
                        transform: translate(-50%, -50%);
                        transition: $SliderSlidesTransition;
                        
                    }
                }
                .Image{
                    position: absolute;
                    transform-origin: center;
                    left: 50%;
                    top: 45%;
                    transform: translate(-50%, -50%) scale(.5);
                    transition: $SliderSlidesTransition;
                    width: 100%;
                    max-width: 400px;

                    img{
                        width: 100%;
                    }
                }
                .Texts{
                    text-align: center;
                    padding: 0px 20px;
                    position: absolute;
                    bottom: 10%;
                    transition: $SliderSlidesTransition;
                    width: 100%;
                    box-sizing: border-box;
                    
                    .title{
                        font-size: 25px;
                        font-weight: bold;
                        margin-bottom: 15px;
                        transition: $SliderSlidesTransition;
                    }
                    .description{
                        font-size: 16px;
                        color: $cyan;
                        transition: $SliderSlidesTransition;
                        height: 0;
                        transform: scale(0);
                    }
                    @media only screen and (max-width: 980px) {
                        .title{
                            font-size: 15px;
                        }
                    }
                }

                @media only screen and (max-width: 768px) {
                    width: 100%;

                    &.leftDisplace, &.rightDisplace{
                        display: none;
                    }
                    &.active{
                        left: 0;
                    }
                    &.leftInactive{
                        left: -100%;
                        opacity:.3;
                    }
                    &.rightInactive{
                        left: 100%;
                        opacity:.3;
                    }
                }
            }
        }

        .Front{
            width: 25%;
            @media only screen and (max-width: 768px) {
                width: calc(100% / 3);
            }
            @media only screen and (max-width: 540px) {
                width: 100%;
            }
            background: rgba(#111, .3);
            box-shadow: 0px 0px 40px rgba(black, .8);
            border-left: 2px solid rgba(#AAA, .1);
            padding: 40px;
            @media only screen and (max-width: 850px) {
                padding: 20px;
            }
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            @media only screen and (max-width: 540px) {
                align-items: center;
            }

            header{
                text-align: right;

                @media only screen and (max-width: 540px) {
                    text-align: center;
                    .Title{
                        text-align: center;
                        align-items: center;
                    }
                }        
            }
            @media only screen and (max-width: 540px) {
                .SliderCounter, .Control{
                    display: none;
                }
            }
        }
    }
}