@import 'constants.scss';

.SliderCounter{
    display: flex;
    font-family: 'Rubik';

    .activeSlide{
        font-size: 65px;
        font-weight: bold;
        transform: scaleX(.9);
        line-height: .9em;
    }
    .totalSlides{
        white-space: nowrap;
        font-weight: bold;
        color: $magenta;
        transform: scaleX(.9);
        font-size: 23px;
        margin-left: 10px;
    }
}