@import './../../../constants.scss';

#Banner2{
    .columns{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .column{
            margin-right: 40px;
            
            &:last-child{
                margin-right: 0px;
            }
        }
        
        @media only screen and (max-width: 680px) {
            flex-direction: column;
            .column{
                margin-right: 0px;
                margin-bottom: 20px;
            }
        }


        .text{
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
            @media only screen and (max-width: 680px) {
                text-align: center;
            }
        }
        .textSmall{
            font-size: 20px;
            font-weight: normal;
            @media only screen and (max-width: 680px) {
                text-align: center;
            }
        }

        .form{
            background: white;
            border-radius: $borderRadius;
            padding: 30px;
            box-sizing: border-box;
            margin-top: -20%;
            margin-bottom: -20%;
            @media only screen and (max-width: 680px) {
                margin-top: 5%;
                margin-bottom: -5%;
            }

            label{
                color: $darkText;
            }

            input{
                margin-bottom: 10px;
            }

            input:last-of-type{
                margin-bottom: 30px;
            }

            .Button *{
                color: $darkText !important;
            }
            @import 'constants.scss';
            button{
                opacity: .9;
                border: none;
                transition: $buttonsTransition;
                background: rgba($magenta, .7);
                border: 2px solid $magenta;
                cursor: pointer;
                
                color: white;
                white-space: nowrap;
                text-transform: uppercase;
                padding: 10px 20px;
                position: relative;
                
                &:hover{
                    opacity: 1;
                    transform:scale(1.1);
                }
            }
        }
    }
}