.Title{
    font-size: 42px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    
    
    &:after{
        content: '';
        width: 50px;
        height: 0;
        border-bottom: 5px solid white;
        margin-top: 10px;
        margin-bottom: 20px;    
    }
    &.right{
        align-items: flex-end;
    }
    &.center{
        align-items: center;
    }
}
@media only screen and (max-width: 880px) {
    .Title{
        font-size: 32px;
    }
}