@import './../../../constants.scss';

#Banner3{
    .columns{
        display: flex;
        flex-direction: row;
        align-items: center;
        @media only screen and (max-width: 680px) {
            flex-direction: column;
        }
        .column{
            text-align: center;
            font-size: 18px;
            margin-right: 40px;
            @media only screen and (max-width: 680px) {
                margin-right: 0px;
                margin-bottom: 60px;
            }
            &:last-child{
                margin-right: 0;
            }
            img{
                max-width: 25%;
            }
        }
    }
}