@import './../../../constants.scss';

#FullFeatures{
    background: url(./assets/background.jpg);
    background-position: center;
    padding: 60px 0;

    .content{
        .columns{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media only screen and (max-width: 600px) {
                grid-template-columns: repeat(1, 1fr);
                
            }

            .column{
                
                padding: 0 40px;
                @media only screen and (max-width: 840px) {
                    padding: 0 20px;
                }
                @media only screen and (max-width: 600px) {
                    margin-bottom: 40px;
                }
                .title{
                    display: flex;
                    align-items: center;
                    

                    .icon{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 20px;

                        .Image{
                            img{
                                height: 2em;
                                font-size: 30px;
                                line-height: 1.3em;
                            }
                        }
                    }
                    .text{
                        line-height: 1.3em;
                        font-size: 30px;
                        font-weight: bold;
                        @media only screen and (max-width: 840px) {
                            font-size: 20px;
                        }
                        @media only screen and (max-width: 600px) {
                            font-size: 30px;
                        }
                        @media only screen and (max-width: 4200px) {
                            font-size: 24px;
                            
                        }
        
                    }
                }
                ul{
                    padding-left: 20px;

                    li{
                        font-weight: bold;
                        margin-bottom: 8 px;
                    }
                }
            }
        }
    }
}