@import 'constants.scss';
#Comparison{
    background: url(./assets/background.jpg);
    padding: 60px 0;
    text-align: center;

    header{
        margin-bottom: 40px;
    }

    .Table{
        position: relative;
        color: $darkText;
        @media only screen and (max-width: 820px) {
            overflow-x: scroll;
        }
        
        .content{
            min-width: 710px;
        }

        .row{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: minmax(1em, auto);
            // @media only screen and (max-width: 600px) {
            //     grid-template-columns: repeat(1, 1fr);
            // }

            &.header{
                color: #FFF;
                font-weight: bold;
                // @media only screen and (max-width: 600px) {
                //     display: none;
                // }

                .column{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    &.microcontroller{
                        background: rgb(0,151,157);
                        background: $microcontrollerGradient;
                        border-top-left-radius: $borderRadius;
                        grid-column: 1;
                        grid-row: 2 / 3;
                    }
                    &.mercury10{
                        background: rgb(237,29,86);
                        background: $mercury10Gradient;
                        border-top-left-radius: $borderRadius;
                        border-top-right-radius: $borderRadius;
                        grid-column: 2;
                        grid-row: 1 / 3;

                        img{
                            width: 100%;
                            max-width: 224px;
                            height: auto;
                        }
                    }
                    &.microcomputer{
                        background: rgb(106,191,75);
                        background: $microcomputerGradient;
                        border-top-right-radius: $borderRadius;
                        grid-column: 3;
                        grid-row: 2 / 3;
                    }
                }
            }
            
            .column{
                padding: 1em 20px;
                position: relative;
                display: flex;
                // @media only screen and (max-width: 600px) {
                //     display: block;
                // }
                align-items: center;
                justify-content: space-evenly;
                // border-bottom: 2px solid rgba(255,255,255, 0.05);
                box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.05);
                .cellHeader{
                    display: none;
                }
                // @media only screen and (max-width: 600px) {
                //     .cellHeader{
                //         display: block;
                //     }
                // }
                &.microcontroller{
                    background: #DDD;

                    &:after{
                        background: url(./assets/shadow-left.png);
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-position: right;
                        background-repeat: repeat-y;
                    }
                    // @media only screen and (max-width: 600px) {
                    //     &::after{
                    //         display: none;
                    //     }
                    // }
                }
                &.mercury10{
                    background: #F0F0F0;
                }
                &.microcomputer{
                    background: #DDD;

                    &:after{
                        background: url(./assets/shadow-right.png);
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-position: left;
                        background-repeat: repeat-y;
                    }
                    // @media only screen and (max-width: 600px) {
                    //     &::after{
                    //         display: none;
                    //     }
                    // }
                }
            }
            &:last-child{
                .column{
                    border-bottom: none;
                    &.microcontroller{
                        border-bottom-left-radius: $borderRadius;
                        grid-column: 1;
                        grid-row: 1 / 2;
                    }
                    &.mercury10{
                        border-bottom-left-radius: $borderRadius;
                        border-bottom-right-radius: $borderRadius;
                        grid-column: 2;
                        grid-row: 1 / 3;
                    }
                    &.microcomputer{
                        border-bottom-right-radius: $borderRadius;
                        grid-column: 3;
                        grid-row: 1 / 2;
                    }
                }
            }
        }
    }
}