#Banner1{
    text-align: center;
    font-weight: bold;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        .text{
            margin-bottom: 30px;
            font-size: 28px;
        }
    }
}