@import 'constants.scss';

#SuccessStories{
    background: url(./../../../images/SuccessStories/background.jpg);
    position: relative;
    text-align: center;
    padding: 60px 0;
    
    .container{
        margin-bottom: 50px !important; 
    }

    .Slider{
        min-height: 440px;
        max-width: 1280px;
        margin: 0 auto;
        @media only screen and (max-width: 1000px) {
            min-height: 350px;
        }
        position: relative;

        .Slides{
            position: absolute;
            height: 100%;
            width: 100%;

            .SliderMobileControl{
                display: none;
            }
            @media only screen and (max-width: 880px) {
                .SliderMobileControl{
                    display: flex;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    padding: 0 5%;
                    box-sizing: border-box;
                    transform: translateY(-100%);
                }
            }
            .Slide{
                position: absolute;
                width: 40%;
                height: 100%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: none;
                transition: $SliderSlidesTransition;

                @media only screen and (max-width: 768px) {
                    width: 60% !important;
                }
                @media only screen and (max-width: 590px) {
                    width: 72% !important;
                }
                @media only screen and (max-width: 480px) {
                    width: 90% !important;
                }
                

                &.active, &.leftInactive, &.leftDisplace, &.rightInactive, &.rightDisplace{
                    display: block;
                }
                &.leftDisplace{
                    left: -10%; opacity:0;
                }
                &.leftInactive{
                    left: 17%; opacity:.3;
                }
                &.active{
                    left:50%
                }
                &.rightInactive{
                    left: 83%; opacity:.3;
                }
                &.rightDisplace{
                    left: 130%; opacity:0;
                }
                @media only screen and (max-width: 768px) {
                    &.leftDisplace{ left: -20%; }
                    &.leftInactive{ left: 10%; }
                    &.rightInactive{ left: 90%; }
                    &.rightDisplace{ left: 120%; }
                }
                @media only screen and (max-width: 590px) {
                    &.leftDisplace{ left: -20%; }
                    &.leftInactive{ left: 5%; }
                    &.rightInactive{ left: 95%; }
                    &.rightDisplace{ left: 120%; }
                }
                @media only screen and (max-width: 480px) {
                    &.leftDisplace{ left: -20%; }
                    &.leftInactive{ left: -10%; }
                    &.rightInactive{ left: 110%; }
                    &.rightDisplace{ left: 120%; }

                }
                &.leftInactive, &.rightInactive{
                    .Image{
                        transform: translateX(-50%) scale(.6);
                        
                        &:before{
                            transform: translate(-50%, -50%) scale(.5) rotate(180deg);
                            opacity: 0;
                        }
                    }
                    .Texts{
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        
                        .title{
                            opacity: 0;
                        }
    
                        .description{
                            transform: scale(0);
                            height: 0;
                        }
                    }
                }
                @media only screen and (max-width: 870px) {
                    width: 50%;
                }
                .Image{
                    width: 75%;
                    height: 75%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: $SliderSlidesTransition;
                    
                    &:before{
                        z-index: 0;
                        content: '';
                        width: 140%;
                        height: 140%;
                        @media only screen and (max-width: 1020px) {
                            width: 120%;
                            height: 120%;
                        }
                        position: absolute;
                        background: url(./assets/slide-back.png);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        transition: $SliderSlidesLongTransition;
                    }

                    & > img{
                        height: auto;
                        width: 90%;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        max-width: 390px;
                    }
                }
                .Texts{
                    position: absolute;
                    width: 100%;
                    padding: 0 10%;
                    box-sizing: border-box;
                    bottom: -4%;

                    .title{
                        font-size: 18px;
                        font-weight: bold;
                        position: relative;
                        opacity: 1;
                        transition: $SliderSlidesTransition;
                        
                    }
                    .description{
                        font-style: italic;
                        color: $cyan;
                        position: relative;
                        transition: $SliderSlidesTransition;
                        transform: scale(1);
                        font-size: 14px;
                        // height: 3em;
                    }
                    .links{
                        transition: $SliderSlidesTransition;
                        ul{
                            list-style: none;
                            margin: 0;
                            padding:0;
                            display: flex;
                            justify-content: center;

                            li{
                                margin-right: 10px;

                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }

        }

        .Front{
            position: absolute;
            left: 27%;
            top: 8%;
            
            @media only screen and (max-width: 880px) {
                .Control{
                    display: none;
                }
            }
        }
    }

    
    /*
    .pruebaClipPath{
        width: 200px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);

        &:after{
            width: 100%;
            content: '';
            height: 0;
            padding-bottom: 86.603%;
            background: url(./../../../images/Banner/background.jpg);
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            position: absolute;
            transform: translateY(-50%);
        }
        
    }
    */
}